.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  font-family: "Inter", Arial, sans-serif;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
  max-height: 330px;
}

.modal__container_preview-image {
  background-color: rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__image-wrapper {
  position: relative;
}

.modal__preview-image-title {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  margin-top: 10px;
}

.modal__heading {
  color: black;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 54px;
  line-height: 30px;
  margin-top: 0;
}

.modal__form {
  max-width: 100%;
}

.modal__form-input {
  width: 100%;
  height: 28px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: #000;
  border-left: #000;
  border-right: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 13px;
}

.modal__form-input:last-of-type {
  margin-bottom: 0;
}

.modal__save-button {
  width: 100%;
  margin-top: 48px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border-radius: 2px;
  border: none;
}

.modal__save-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__close-button {
  position: absolute;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-image: url(../images/Add.svg);
  background-repeat: no-repeat;
  top: -45px;
  right: -45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(-135deg);
}

.modal__close-button:hover {
  opacity: 60%;
}

.modal__close-button_preview-image {
  position: absolute;
  right: -45px;
  top: -50px;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 1.2;
  position: absolute;
  left: 36px;
  transition: opacity 0.3s;
  visibility: hidden;
  display: block;
}

.modal__error_visible {
  visibility: visible;
}

.modal__error_visible:first-of-type {
  bottom: calc(51%);
}

.modal__error_visible:last-of-type {
  bottom: calc(31%);
}

.modal__button_disabled {
  opacity: 0.2;
  color: #000;
  background-color: white;
  border: 1px #000 2px;
}

.modal__button_disabled:hover {
  cursor: default;
  opacity: 0.2;
}

.modal__container_preview-image {
  background-color: transparent;
}

#modal-image {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

#modal-preview-image-title {
  font-family: "Inter", arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 750px) {
  .modal__close-button {
      top: -54px;
      right: 0px;
      width: 26px;
      height: 26px;
  }

  .modal__container {
      max-width: 238px;
      padding: 25px 22px;
  }

  .modal__heading {
      font-size: 18px;
      margin: 0 0 45px 0;
  }

  .modal__save-button {
      font-size: 14px;
      margin: 45px 0 0 0;
      font-weight: 400;
  }
}

@media screen and (max-width: 320px) {
  .modal__close-button {
    position: absolute;
    bottom: 13.62px;
    right: 18.62px;
  }

  .modal__container {
    position: relative;
    max-width: 282px;
    max-height: 322px;
    margin: auto;
    padding: 22px;
  }
  .modal__heading {
    max-width: 238px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21.78px;
  }
  .modal__form {
    margin-top: 75px;
  }
  .modal__input {
    max-width: 238px;
  }
  .modal__save-button {
    font-weight: 400;
    max-width: 238px;
    line-height: 16.94px;
    font-size: 14px;
  }
}